<table class="table table-bordered table-striped table-hover table-responsive table-players ">
  <thead>
    <tr>
      <th>#</th>
      <th>Category</th>
      <th>Best FA Available</th>
      <th>JBR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Goals</td>
      <td>Dingo Burns</td>
      <td>100</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Hits</td>
      <td>Meathead Mauler</td>
      <td>96</td>
    </tr>
    <tr>
      <td>3</td>
      <td>PPP</td>
      <td>Joey Powerplay</td>
      <td>155</td>
    </tr>
    <tr>
      <td>4</td>
      <td>+/-</td>
      <td>Otto Adder</td>
      <td>76</td>
    </tr>
    <tr>
      <td>5</td>
      <td>A</td>
      <td>Dan Playmaker</td>
      <td>98</td>
    </tr>
  </tbody>
</table>