<table class="table table-bordered table-striped table-hover table-responsive table-players ">
  <thead>
    <tr>
      <th>Player</th>
      <th>Position</th>
      <th>G</th>
      <th>A</th>
      <th>Points</th>
      <th>PPP</th>
      <th>+/-</th>
      <th>PIMS</th>
      <th>SOG</th>
      <th>HITS</th>
      <th>BLKS</th>
      <th>JBR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sidney Crosby</td>
      <td>Centre</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
    </tr>
    <tr>
      <td>Brent Burns</td>
      <td>Defense</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
    </tr>
    <tr>
      <td>Conor McDavid</td>
      <td>Centre</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
      <td>155</td>
    </tr>
  </tbody>
</table>