 <table class="table table-bordered table-striped table-responsive table-players ">
  <thead>
    <tr>
      <th class="col-md-1">Rank</th>
      <th>Team Name</th>
      <th>JBR</th>
    </tr>
  </thead>
  <tbody>
    <% count = 0 %>
    <% @teams.each do |team| %>
    <% next if team.name.include?("Waiver") %>
    <tr>
      <td><%= count += 1 %></td>
      <td><%= link_to "#{team.name}", user_league_team_path(@current_user, @league_id, team) %></td>
      <td>500</td>
    </tr>
    <% end %>
  </tbody>
</table>