<div class="row topfix">
  <div class="col-md-8">
    <h1 class="text-center">Your Fantasy Hockey Leagues</h1>
  </div>
  <div class="container-fluid container-space">
    <div class="container">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>League Name</th>
            <th>Team Name</th>
          </tr>
        </thead>
        <tbody>
          <% count = 0 %>
          <% @leagues.each do |league| %>
          <tr>
            <td><%= link_to "#{league.name}",user_league_path(@current_user, league.id) %></td>
            <td><%= link_to "#{league.user_team}",user_league_team_path(@current_user, league.id, @team_id[count]) %></td>
            <% count = count + 1 %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= form_tag(user_leagues_path(@current_user), method: "post") do %>
      <button type= "submit" class= "btn btn-primary btn-lg" id="spinner">
      Click to Update Your Leagues
      </button>
      <% end %>
    </div>
  </div>
</div>