<div class="row topfix">
  <div class="col-md-8">
    <h1 class="text-center">Your Fantasy Hockey Leagues</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>League Name</th>
          <th>Team Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>lolhockeyaments</td>
          <td>Cherm &amp; The Squirms</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Work Hockey Pool</td>
          <td>DONT TOEWS ME BRO</td>
        </tr>
        <tr>
          <td>3</td>
          <td>School Hockey Pool</td>
          <td>The Ninja Hertls</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
