<div class="container-fluid topfix">
  <div class="row">
    <div class="col-md-3">
      <h1>League Rankings</h1>
    </div>
  </div>
<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-10">
        <table class="table table-bordered table-striped table-responsive">
          <thead>
            <tr>
              <th class="col-md-1">Rank</th>
              <th>Team Name</th>
              <th>JBR</th>
            </tr>
          </thead>
          <tbody>
            <% @teams.each do |team| %>
            <tr>
              <td><%= 1 %></td>
              <td><%= link_to "#{team.name}", user_league_team_path(@current_user, @league_id, team) %></td>
              <td>900</td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Graph space -->
  <div class="col-md-9">
  <div id="rank_column" class="col-md-6" style="width:100%; height:400px;">If You See This The Graph Had An Error</div>
  </div>
</div>
    <div class="row">
    <div class="col-md-12">
      <h1>Top Players By JBR</h1>
      <div class="row">
      <div class="col-md-1">
        <button type="button" class="btn btn-block btn-default">Goalies</button>
      </div>
      </div>
    <table class="table table-bordered table-striped table-hover table-responsive">
      <thead>
        <tr>
          <th>Player</th>
          <th>Position</th>
          <th>G</th>
          <th>A</th>
          <th>Points</th>
          <th>PPP</th>
          <th>+/-</th>
          <th>PIMS</th>
          <th>SOG</th>
          <th>HITS</th>
          <th>BLKS</th>
          <th>JBR</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sidney Crosby</td>
          <td>Centre</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
        <tr>
          <td>Brent Burns</td>
          <td>Defense</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
        <tr>
          <td>Conor McDavid</td>
          <td>Centre</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
        <tr>
          <td>Conor McDavid</td>
          <td>Centre</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
        <tr>
          <td>Conor McDavid</td>
          <td>Centre</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
        <tr>
          <td>Conor McDavid</td>
          <td>Centre</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
      </tbody>
    </table>
      <h1>Top Available Free Agents By JBR</h1>
      <div class="row">
      <div class="col-md-1">
        <button type="button" class="btn btn-block btn-default">Goalies</button>
      </div>
      </div>
    <table class="table table-bordered table-striped table-hover table-responsive">
      <thead>
        <tr>
          <th>Player</th>
          <th>Position</th>
          <th>G</th>
          <th>A</th>
          <th>Points</th>
          <th>PPP</th>
          <th>+/-</th>
          <th>PIMS</th>
          <th>SOG</th>
          <th>HITS</th>
          <th>BLKS</th>
          <th>JBR</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sidney Crosby</td>
          <td>Centre</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
        <tr>
          <td>Brent Burns</td>
          <td>Defense</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
        <tr>
          <td>Conor McDavid</td>
          <td>Centre</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
        <tr>
          <td>Conor McDavid</td>
          <td>Centre</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
        <tr>
          <td>Conor McDavid</td>
          <td>Centre</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
        <tr>
          <td>Conor McDavid</td>
          <td>Centre</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
          <td>155</td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
</div>
