<!DOCTYPE html>
<html lang="en">
    <head>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>JockBuff Fantasy Analytics</title>
    <meta name="description" content="Fantasy Analytics"/>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
  </head>

  <body>
  <header>
    <%= render 'layouts/top_nav' %>
  </header>
  <body>
    <br>
    <br>
    <br>
    <br>
      <div class="container-fluid">
         <div class="row">
             <div class="col-md-6">
                 <h1>Team Name</h1>
             </div>
             <div class="col-md-6">
                 <h1>Team Needs</h1>
             </div>
         </div>
         <div class="row">
             <div class="col-md-6">
                 <table class="table table-bordered table-striped table-hover table-responsive">
                     <thead>
                         <tr>
                             <th>Player</th>
                             <th>Position</th>
                             <th>G</th>
                             <th>A</th>
                             <th>Points</th>
                             <th>PPP</th>
                             <th>+/-</th>
                             <th>PIMS</th>
                             <th>SOG</th>
                             <th>HITS</th>
                             <th>BLKS</th>
                             <th>JBR</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                         <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>
                        <tr>
                             <td>Sidney Crosby</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                         </tr>

                     </tbody></table>
             </div>
             <div class="col-md-4">
                 <table class="table table-bordered table-striped table-hover table-responsive">
                     <thead>
                         <tr>
                             <th>#</th>
                             <th>Category</th>
                             <th>Best FA Available</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td>1</td>
                             <td>Goals</td>
                             <td>Dingo Burns</td>
                         </tr>
                         <tr>
                             <td>2</td>
                             <td>Hits</td>
                             <td>Meathead Mauler</td>
                         </tr>
                         <tr>
                             <td>3</td>
                             <td>PPP</td>
                             <td>Joey Powerplay</td>
                         </tr>
                         <tr>
                             <td>4</td>
                             <td>+/-</td>
                             <td>Otto Adder</td>
                         </tr>
                         <tr>
                             <td>5</td>
                             <td>A</td>
                             <td>Dan Playmaker</td>
                         </tr>
                         <tr>
                             <td>6</td>
                             <td>BLKS</td>
                             <td>Meat Shield</td>
                         </tr>
                         <tr>
                             <td>7</td>
                             <td>PIMS</td>
                             <td>Kluber Lang</td>
                         </tr>
                         <tr>
                             <td>8</td>
                             <td>SOG</td>
                             <td>Johnny Shootsalot</td>
                         </tr>
                         <tr>
                             <td>9</td>
                             <td>Points</td>
                             <td>Jimmy Thapuck</td>
                         </tr>

                     </tbody></table>
              <div class="row">

              <div class="col-md-6"><img src="http://i1.wp.com/3rdlinegrind.com/wp-content/uploads/2015/06/scatter.png" width="600px" height="500px"></div>
             </div>
         </div>

          </div>
     </div>
</body></html>
