/* line 3, /vagrant/week7day3_final-project/jockbuff_final/app/assets/stylesheets/application.css.scss */
html, body {
  height: 100%;
}

/* line 7, /vagrant/week7day3_final-project/jockbuff_final/app/assets/stylesheets/application.css.scss */
.logo {
  font-family: 'Bungee Inline', cursive;
  font-size: 100px;
  color: #000000;
}

/* line 13, /vagrant/week7day3_final-project/jockbuff_final/app/assets/stylesheets/application.css.scss */
#welcomelogo {
  width: 400px;
  height: 450px;
}

/* line 18, /vagrant/week7day3_final-project/jockbuff_final/app/assets/stylesheets/application.css.scss */
#tinylogo {
  width: 18px;
  height: 20px;
}

/* line 23, /vagrant/week7day3_final-project/jockbuff_final/app/assets/stylesheets/application.css.scss */
.logbtn {
  text-decoration: none;
}

/* line 27, /vagrant/week7day3_final-project/jockbuff_final/app/assets/stylesheets/application.css.scss */
.lead {
  color: #000000;
}

/* line 31, /vagrant/week7day3_final-project/jockbuff_final/app/assets/stylesheets/application.css.scss */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  background-color: #E5E5E5;
  color: #eee;
  overflow: hidden;
}

/* line 40, /vagrant/week7day3_final-project/jockbuff_final/app/assets/stylesheets/application.css.scss */
.container-full a {
  color: #E5E5E5;
  text-decoration: none;
}

/* line 45, /vagrant/week7day3_final-project/jockbuff_final/app/assets/stylesheets/application.css.scss */
.v-center {
  margin-top: 7%;
}
