<h1>Your Players To Be Traded</h1>
<table class="table table-bordered table-striped table-hover table-responsive table-players">
  <thead>
    <tr>
      <th>Player</th>
      <th>Team</th>
      <th>Position</th>
      <th>Y!</th>
      <th>JBR</th>
      <th>G</th>
      <th>A</th>
      <th>Points</th>
      <th>PPP</th>
      <th>+/-</th>
      <th>PIMS</th>
      <th>SOG</th>
      <th>FOW</th>
      <th>HIT</th>
      <th>BLKS</th>
    </tr>
  </thead>
  <tbody class="selected-players" id="user-output">
  <!-- Render Users Skater Selections -->
  </tbody>
</table>

<table class="table table-bordered table-striped table-hover table-responsive table-players">
  <thead>
    <tr>
      <th>Goalie</th>
      <th>Team</th>
      <th>Y!</th>
      <th>JBR</th>
      <th>Wins</th>
      <th>Loses</th>
      <th>GAA</th>
      <th>SV %</th>
      <th>SO</th>
      <th>Saves</th>
    </tr>
  </thead>
  <tbody class="selected-goalies" id="user-output-goalies">
  <!-- Render Users Goalie Selections -->
  </tbody>
</table>

<h1>Other Team Players To Be Traded</h1>
<table class="table table-bordered table-striped table-hover table-responsive table-players">
  <thead>
    <tr>
      <th>Player</th>
      <th>Team</th>
      <th>Position</th>
      <th>Y!</th>
      <th>JBR</th>
      <th>G</th>
      <th>A</th>
      <th>Points</th>
      <th>PPP</th>
      <th>+/-</th>
      <th>PIMS</th>
      <th>SOG</th>
      <th>FOW</th>
      <th>HIT</th>
      <th>BLKS</th>
    </tr>
  </thead>
  <tbody class="selected-players" id="other-output">
    <!-- Render jQuery selections -->
  </tbody>
</table>

<table class="table table-bordered table-striped table-hover table-responsive table-players">
  <thead>
    <tr>
      <th>Goalie</th>
      <th>Team</th>
      <th>Y!</th>
      <th>JBR</th>
      <th>Wins</th>
      <th>Loses</th>
      <th>GAA</th>
      <th>SV %</th>
      <th>SO</th>
      <th>Saves</th>
    </tr>
  </thead>
  <tbody class="selected-goalies" id="other-output-goalies">
  <!-- Render Users Goalie Selections -->
  </tbody>
</table>
