<h1>Players To Be Traded</h1>
<table class="table table-bordered table-striped table-hover table-responsive table-players">
  <thead>
    <tr>
      <th>Player</th>
      <th>Team</th>
      <th>Position</th>
      <th>G</th>
      <th>A</th>
      <th>Points</th>
      <th>PPP</th>
      <th>+/-</th>
      <th>PIMS</th>
      <th>SOG</th>
      <th>HITS</th>
      <th>BLKS</th>
      <th>JBR</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
<table class="table table-bordered table-striped table-hover table-responsive table-players">
  <thead>
    <tr>
      <th>Goalie</th>
      <th>Team</th>
      <th>Wins</th>
      <th>Loses</th>
      <th>GAA</th>
      <th>SV %</th>
      <th>SO</th>
      <th>Saves</th>
      <th>JBR</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
