<div class="row container-fluid container-space-no-top">
  <div class="col-md-6">
    <h1>Team Stat Impact</h1>
    <table class="table table-bordered table-striped table-hover table-responsive table-players">
      <thead>
        <tr>
          <% if @player_passports[0].league.player_category.g == true %> <th data-field="g">G</th> <% end %>
          <% if @player_passports[0].league.player_category.a == true %> <th data-field="a">A</th> <% end %>
          <% if @player_passports[0].league.player_category.p == true %> <th data-field="p">P</th> <% end %>
          <% if @player_passports[0].league.player_category.ppg == true %> <th data-field="ppg">PPG</th> <% end %>
          <% if @player_passports[0].league.player_category.ppa == true %> <th data-field="ppa">PPA</th> <% end %>
          <% if @player_passports[0].league.player_category.ppp == true %> <th data-field="ppp">PPP</th> <% end %>
          <% if @player_passports[0].league.player_category.plusminus == true %> <th data-field="plusminus">+/-</th> <% end %>
          <% if @player_passports[0].league.player_category.shg == true %> <th data-field="shg">SHG</th> <% end %>
          <% if @player_passports[0].league.player_category.sha == true %> <th data-field="sha">SHA</th> <% end %>
          <% if @player_passports[0].league.player_category.shp == true %> <th data-field="shp">SHP</th> <% end %>
          <% if @player_passports[0].league.player_category.gwg == true %> <th data-field="gwg">GWG</th> <% end %>
          <% if @player_passports[0].league.player_category.gtg == true %> <th data-field="gtg">GTG</th> <% end %>
          <% if @player_passports[0].league.player_category.pim == true %> <th data-field="pim">PIM</th> <% end %>
          <% if @player_passports[0].league.player_category.sog == true %> <th data-field="sog">SOG</th> <% end %>
          <% if @player_passports[0].league.player_category.shpercent == true %> <th data-field="shpercent">SH%</th> <% end %>
          <% if @player_passports[0].league.player_category.fw == true %> <th data-field="fw">FW</th> <% end %>
          <% if @player_passports[0].league.player_category.fl == true %> <th data-field="fl">FL</th> <% end %>
          <% if @player_passports[0].league.player_category.hit == true %> <th data-field="hit">HIT</th> <% end %>
          <% if @player_passports[0].league.player_category.blk == true %> <th data-field="blk">BLK</th> <% end %>
          <th data-field="jbr">JBR</th>
        </tr>
      </thead>

      <tbody id="total-team-stats">
        <tr>
          <% if @player_passports[0].league.player_category.g == true %> <td class="user-total-goals"></td> <% end %>
          <% if @player_passports[0].league.player_category.a == true %> <td class="user-total-assists"></td> <% end %>
          <% if @player_passports[0].league.player_category.p == true %> <td class="user-total-points"><% end %>
          <% if @player_passports[0].league.player_category.ppg == true %> <td class="user-total-powerplay-goals"></td> <% end %>
          <% if @player_passports[0].league.player_category.ppa == true %> <td class="user-total-powerplay-assists"></td> <% end %>
          <% if @player_passports[0].league.player_category.ppp == true %> <td class="user-total-powerplay-points"></td> <% end %>
          <% if @player_passports[0].league.player_category.plusminus == true %> <td class="user-total-plusminus"></td> <% end %>
          <% if @player_passports[0].league.player_category.shg == true %> <td class="user-total-shg"></td> <% end %>
          <% if @player_passports[0].league.player_category.sha == true %> <td class="user-total-sha"></td> <% end %>
          <% if @player_passports[0].league.player_category.shp == true %> <td class="user-total-shp"></td> <% end %>
          <% if @player_passports[0].league.player_category.gwg == true %> <td class="user-total-gwg"></td> <% end %>
          <% if @player_passports[0].league.player_category.gtg == true %> <td class="user-total-gtg"></td> <% end %>
          <% if @player_passports[0].league.player_category.pim == true %> <td class="user-total-pims"></td> <% end %>
          <% if @player_passports[0].league.player_category.sog == true %> <td class="user-total-sog"></td> <% end %>
          <% if @player_passports[0].league.player_category.shpercent == true %> <td class="user-total-shpercent"></td> <% end %>
          <% if @player_passports[0].league.player_category.fw == true %> <td class="user-total-fw"></td> <% end %>
          <% if @player_passports[0].league.player_category.fl == true %> <td class="user-total-fl"></td> <% end %>
          <% if @player_passports[0].league.player_category.hit == true %> <td class="user-total-hit"></td> <% end %>
          <% if @player_passports[0].league.player_category.blk == true %> <td class="user-total-blk"></td> <% end %>
          <td class="user-total-jbr"></td>
        </tr>
        </tbody>
      </table>








<!-- Other Team -->

  <div class="col-md-6">
  <h1>Other Team Stat Impact</h1>
    <table class="table table-bordered table-striped table-hover table-responsive table-players">
      <thead>
        <tr>
          <% if @player_passports[0].league.player_category.g == true %> <th data-field="g">G</th> <% end %>
          <% if @player_passports[0].league.player_category.a == true %> <th data-field="a">A</th> <% end %>
          <% if @player_passports[0].league.player_category.p == true %> <th data-field="p">P</th> <% end %>
          <% if @player_passports[0].league.player_category.ppg == true %> <th data-field="ppg">PPG</th> <% end %>
          <% if @player_passports[0].league.player_category.ppa == true %> <th data-field="ppa">PPA</th> <% end %>
          <% if @player_passports[0].league.player_category.ppp == true %> <th data-field="ppp">PPP</th> <% end %>
          <% if @player_passports[0].league.player_category.plusminus == true %> <th data-field="plusminus">+/-</th> <% end %>
          <% if @player_passports[0].league.player_category.shg == true %> <th data-field="shg">SHG</th> <% end %>
          <% if @player_passports[0].league.player_category.sha == true %> <th data-field="sha">SHA</th> <% end %>
          <% if @player_passports[0].league.player_category.shp == true %> <th data-field="shp">SHP</th> <% end %>
          <% if @player_passports[0].league.player_category.gwg == true %> <th data-field="gwg">GWG</th> <% end %>
          <% if @player_passports[0].league.player_category.gtg == true %> <th data-field="gtg">GTG</th> <% end %>
          <% if @player_passports[0].league.player_category.pim == true %> <th data-field="pim">PIM</th> <% end %>
          <% if @player_passports[0].league.player_category.sog == true %> <th data-field="sog">SOG</th> <% end %>
          <% if @player_passports[0].league.player_category.shpercent == true %> <th data-field="shpercent">SH%</th> <% end %>
          <% if @player_passports[0].league.player_category.fw == true %> <th data-field="fw">FW</th> <% end %>
          <% if @player_passports[0].league.player_category.fl == true %> <th data-field="fl">FL</th> <% end %>
          <% if @player_passports[0].league.player_category.hit == true %> <th data-field="hit">HIT</th> <% end %>
          <% if @player_passports[0].league.player_category.blk == true %> <th data-field="blk">BLK</th> <% end %>
          <th data-field="jbr">JBR</th>
        </tr>
      </thead>

      <tbody id="total-team-stats">
        <tr>
          <% if @player_passports[0].league.player_category.g == true %> <td class="other-total-goals"></td> <% end %>
          <% if @player_passports[0].league.player_category.a == true %> <td class="other-total-assists"></td> <% end %>
          <% if @player_passports[0].league.player_category.p == true %> <td class="other-total-points"><% end %>
          <% if @player_passports[0].league.player_category.ppg == true %> <td class="other-total-powerplay-goals"></td> <% end %>
          <% if @player_passports[0].league.player_category.ppa == true %> <td class="other-total-powerplay-assists"></td> <% end %>
          <% if @player_passports[0].league.player_category.ppp == true %> <td class="other-total-powerplay-points"></td> <% end %>
          <% if @player_passports[0].league.player_category.plusminus == true %> <td class="other-total-plusminus"></td> <% end %>
          <% if @player_passports[0].league.player_category.shg == true %> <td class="other-total-shg"></td> <% end %>
          <% if @player_passports[0].league.player_category.sha == true %> <td class="other-total-sha"></td> <% end %>
          <% if @player_passports[0].league.player_category.shp == true %> <td class="other-total-shp"></td> <% end %>
          <% if @player_passports[0].league.player_category.gwg == true %> <td class="other-total-gwg"></td> <% end %>
          <% if @player_passports[0].league.player_category.gtg == true %> <td class="other-total-gtg"></td> <% end %>
          <% if @player_passports[0].league.player_category.pim == true %> <td class="other-total-pims"></td> <% end %>
          <% if @player_passports[0].league.player_category.sog == true %> <td class="other-total-sog"></td> <% end %>
          <% if @player_passports[0].league.player_category.shpercent == true %> <td class="other-total-shpercent"></td> <% end %>
          <% if @player_passports[0].league.player_category.fw == true %> <td class="other-total-fw"></td> <% end %>
          <% if @player_passports[0].league.player_category.fl == true %> <td class="other-total-fl"></td> <% end %>
          <% if @player_passports[0].league.player_category.hit == true %> <td class="other-total-hit"></td> <% end %>
          <% if @player_passports[0].league.player_category.blk == true %> <td class="other-total-blk"></td> <% end %>
          <td class="other-total-jbr"></td>
        </tr>
        </tbody>
      </table>




  </div>
</div>