<div class="row container-fluid container-space-no-top">
  <div class="col-md-6">
    <table class="table table-bordered table-striped table-hover table-responsive table-players">
      <thead>
        <tr>
          <th>G</th>
          <th>A</th>
          <th>Points</th>
          <th>PPP</th>
          <th>+/-</th>
          <th>PIMS</th>
          <th>SOG</th>
          <th>HITS</th>
          <th>BLKS</th>
          <th>JBR</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>+ 155</td>
          <td>- 55</td>
          <td>+ 0</td>
          <td>- 1</td>
          <td>+ 155</td>
          <td>- 55</td>
          <td>+ 0</td>
          <td>+ 155</td>
          <td>- 55</td>
          <td>+ 0</td>
        </tr>
      </tbody>
      </table>
    </div>
    <div class="col-md-6">
    <table class="table table-bordered table-striped table-hover table-responsive table-players">
      <thead>
        <tr>
          <th>Wins</th>
          <th>Losses</th>
          <th>GAA</th>
          <th>SV %</th>
          <th>SO</th>
          <th>Saves</th>
          <th>JBR</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>+ 5</td>
          <td>- 5</td>
          <td>+ 0.500</td>
          <td>- .100</td>
          <td>+ 5</td>
          <td>+ 150</td>
          <td>- 15</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>