<!DOCTYPE html>
<html lang="en">
    <head>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>JockBuff Fantasy Analytics</title>
    <meta name="description" content="Fantasy Analytics"/>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
  <header>
    <%= render 'layouts/top_nav' %>
  </header>
  <body>
    <br>
    <br>
    <br>
    <br>
        <div class="row container-fluid">
            <div class="col-md-6">
            <div class="dropdown">
                        <button class="btn dropdown-toggle text-center btn-default btn-lg btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown">Team Name <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Other Team name</a></li>
                            <li><a href="#">Other Team name</a></li>
                            <li><a href="#">Other Team name</a></li>
                        </ul>
                    </div>
                <h1>Team A</h1>

                <table class="table table-bordered table-striped table-hover table-responsive">
                        <thead>
                         <tr>
                            <th>Trade</th>
                            <th>Player</th>
                            <th>Team</th>
                            <th>Position</th>
                            <th>G</th>
                            <th>A</th>
                            <th>Points</th>
                            <th>PPP</th>
                            <th>+/-</th>
                            <th>PIMS</th>
                            <th>SOG</th>
                            <th>HITS</th>
                            <th>BLKS</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                    </tbody>
                        <thead>
                         <tr>
                            <th>Trade</th>
                            <th>Goalie</th>
                            <th>Team</th>
                            <th>Wins</th>
                            <th>Loses</th>
                            <th>GAA</th>
                            <th>SV %</th>
                            <th>Shutouts</th>
                            <th>Saves</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Ryan Miller</td>
                             <td>Van</td>
                             <td>25</td>
                             <td>25</td>
                             <td>3.46</td>
                             <td>.890</td>
                             <td>5</td>
                             <td>1550</td>
                             <td>155</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Ryan Miller</td>
                             <td>Van</td>
                             <td>25</td>
                             <td>25</td>
                             <td>3.46</td>
                             <td>.890</td>
                             <td>5</td>
                             <td>1550</td>
                             <td>155</td>
                        </tr>
                    </tbody>
                    </table>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle text-center btn-default btn-lg btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown">Team Name <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Other Team name</a></li>
                            <li><a href="#">Other Team name</a></li>
                            <li><a href="#">Other Team name</a></li>
                        </ul>
                    </div>
               <h1>Team B</h1>
                <table class="table table-bordered table-striped table-hover table-responsive">
                        <thead>
                         <tr>
                            <th>Trade</th>
                            <th>Player</th>
                            <th>Team</th>
                            <th>Position</th>
                            <th>G</th>
                            <th>A</th>
                            <th>Points</th>
                            <th>PPP</th>
                            <th>+/-</th>
                            <th>PIMS</th>
                            <th>SOG</th>
                            <th>HITS</th>
                            <th>BLKS</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                    </tbody>
                        <thead>
                         <tr>
                            <th>Trade</th>
                            <th>Goalie</th>
                            <th>Team</th>
                            <th>Wins</th>
                            <th>Loses</th>
                            <th>GAA</th>
                            <th>SV %</th>
                            <th>Shutouts</th>
                            <th>Saves</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Ryan Miller</td>
                             <td>Van</td>
                             <td>25</td>
                             <td>25</td>
                             <td>3.46</td>
                             <td>.890</td>
                             <td>5</td>
                             <td>1550</td>
                             <td>155</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </td>
                             <td>Ryan Miller</td>
                             <td>Van</td>
                             <td>25</td>
                             <td>25</td>
                             <td>3.46</td>
                             <td>.890</td>
                             <td>5</td>
                             <td>1550</td>
                             <td>155</td>
                        </tr>
                    </tbody>
                    </table>
                <h1>Players To Be Traded</h1>
                <table class="table table-bordered table-striped table-hover table-responsive">
                        <thead>
                         <tr>
                            <th>Player</th>
                            <th>Team</th>
                            <th>Position</th>
                            <th>G</th>
                            <th>A</th>
                            <th>Points</th>
                            <th>PPP</th>
                            <th>+/-</th>
                            <th>PIMS</th>
                            <th>SOG</th>
                            <th>HITS</th>
                            <th>BLKS</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                    <tbody>
                        <tr>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                    </tbody>
                        <thead>
                         <tr>
                            <th>Goalie</th>
                            <th>Team</th>
                            <th>Wins</th>
                            <th>Loses</th>
                            <th>GAA</th>
                            <th>SV %</th>
                            <th>Shutouts</th>
                            <th>Saves</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                        <tbody>
                        <tr>
                             <td>Ryan Miller</td>
                             <td>Van</td>
                             <td>25</td>
                             <td>25</td>
                             <td>3.46</td>
                             <td>.890</td>
                             <td>5</td>
                             <td>1550</td>
                             <td>155</td>
                        </tr>
                    </table>
                <h1>Team Stat Impact</h1>
                <table class="table table-bordered table-striped table-hover table-responsive">
                        <thead>
                         <tr>
                            <th>G</th>
                            <th>A</th>
                            <th>Points</th>
                            <th>PPP</th>
                            <th>+/-</th>
                            <th>PIMS</th>
                            <th>SOG</th>
                            <th>HITS</th>
                            <th>BLKS</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                        <tbody>
                        <tr>
                             <td>+ 155</td>
                             <td>- 55</td>
                             <td>+ 0</td>
                             <td>- 1</td>
                             <td>+ 155</td>
                             <td>- 55</td>
                             <td>+ 0</td>
                             <td>+ 155</td>
                             <td>- 55</td>
                             <td>+ 0</td>
                        </tr>
                        </tbody>
                        <thead>
                         <tr>
                            <th>Wins</th>
                            <th>Loses</th>
                            <th>GAA</th>
                            <th>SV %</th>
                            <th>Shutouts</th>
                            <th>Saves</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                        <tbody>
                        <tr>
                             <td>+ 5</td>
                             <td>- 5</td>
                             <td>+ 0.500</td>
                             <td>- .100</td>
                             <td>+ 5</td>
                             <td>+ 150</td>
                             <td>- 15</td>
                        </tr>
                        </tbody>
                    </table>

            <h1>Players To Be Traded</h1>
                <table class="table table-bordered table-striped table-hover table-responsive">
                        <thead>
                         <tr>
                            <th>Player</th>
                            <th>Team</th>
                            <th>Position</th>
                            <th>G</th>
                            <th>A</th>
                            <th>Points</th>
                            <th>PPP</th>
                            <th>+/-</th>
                            <th>PIMS</th>
                            <th>SOG</th>
                            <th>HITS</th>
                            <th>BLKS</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                    <tbody>
                        <tr>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                        <tr>
                             <td>Sidney Crosby</td>
                             <td>PIT</td>
                             <td>Centre</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>155</td>
                             <td>255</td>
                        </tr>
                    </tbody>
                        <thead>
                         <tr>
                            <th>Goalie</th>
                            <th>Team</th>
                            <th>Wins</th>
                            <th>Loses</th>
                            <th>GAA</th>
                            <th>SV %</th>
                            <th>Shutouts</th>
                            <th>Saves</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                        <tbody>
                        <tr>
                             <td>Ryan Miller</td>
                             <td>Van</td>
                             <td>25</td>
                             <td>25</td>
                             <td>3.46</td>
                             <td>.890</td>
                             <td>5</td>
                             <td>1550</td>
                             <td>155</td>
                        </tr>
                        </tbody>
                    </table>
                <h1>Team Stat Impact</h1>
                    <table class="table table-bordered table-striped table-hover table-responsive">
                        <thead>
                         <tr>
                            <th>G</th>
                            <th>A</th>
                            <th>Points</th>
                            <th>PPP</th>
                            <th>+/-</th>
                            <th>PIMS</th>
                            <th>SOG</th>
                            <th>HITS</th>
                            <th>BLKS</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                        <tbody>
                        <tr>
                             <td>+ 155</td>
                             <td>- 55</td>
                             <td>+ 0</td>
                             <td>- 1</td>
                             <td>+ 155</td>
                             <td>- 55</td>
                             <td>+ 0</td>
                             <td>+ 155</td>
                             <td>- 55</td>
                             <td>+ 0</td>
                        </tr>
                        </tbody>
                        <thead>
                         <tr>
                            <th>Wins</th>
                            <th>Loses</th>
                            <th>GAA</th>
                            <th>SV %</th>
                            <th>Shutouts</th>
                            <th>Saves</th>
                            <th>JBR</th>
                         </tr>
                        </thead>
                        <tbody>
                        <tr>
                             <td>+ 5</td>
                             <td>- 5</td>
                             <td>+ 0.500</td>
                             <td>- .100</td>
                             <td>+ 5</td>
                             <td>+ 150</td>
                             <td>- 15</td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </body></html>
