<!-- <p> I See you! </p>

<select class="form-control team-selector searchfield selectpicker" placeholder="Select Player">
  <% @player_passports.each do |player_passport| %>
  <% playerID = player_passport.id %>
  <option value="#{playerID}"><%= player_passport.player.name %></option>
  <% end %>
</select>


 -->