<div class="container-fluid topfix container-space">
  <div class="col-md-6 graph" id="line_graph-top" style="width:100%; height:400px;">HI</div>
</div>

<div id="player_selector_1">
  HELLO
  <%= render 'player_selector' %>
</div>
<!--
<div class='dropspace' id="player-droppable_1"> DROP HERE </div>
<div class='dropspace' id="player-droppable_2"> DROP HERE </div>
 -->
<div class="container-fluid container-space">
  <div class="row">
    <div class="col-md-3">
      <h1>Player Rankings</h1>
      <input class="form-control text-left searchfield" placeholder="Search by name">
    </div>
  </div>

<%= render 'player_ranks' %>

</div>

<div class="col-md-6" id="rank_column" style="width:100%; height:400px;"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>