<div class="container-fluid topfix container-space">
  <div class="col-md-6 graph" id="line_graph-top" style="width:100%; height:400px;">HI</div>
</div>
<div class="container-fluid container-space">
  <div class="row">
    <div class="col-md-3">
      <h1>Player Rankings</h1>
      <input class="form-control text-left" placeholder="Search by name">
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-block btn-default goaliebtn">Goalies</button>
    </div>
  </div>
  <table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th>Player</th>
        <th>Position</th>
        <th>G</th>
        <th>A</th>
        <th>Points</th>
        <th>PPP</th>
        <th>+/-</th>
        <th>PIMS</th>
        <th>SOG</th>
        <th>HITS</th>
        <th>BLKS</th>
        <th>JBR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
        <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
      <tr>
        <td>Sidney Crosby</td>
        <td>Centre</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
        <td>155</td>
      </tr>
    </tbody>
    <!-- GOALIE TABLE FORMAT -->
    <thead>
      <tr>
        <th>Goalie</th>
        <th>Team</th>
        <th>Wins</th>
        <th>Loses</th>
        <th>GAA</th>
        <th>SV %</th>
        <th>Shutouts</th>
        <th>Saves</th>
        <th>JBR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ryan Miller</td>
        <td>Van</td>
        <td>25</td>
        <td>25</td>
        <td>3.46</td>
        <td>.890</td>
        <td>5</td>
        <td>1550</td>
        <td>155</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-6" id="rank_column" style="width:100%; height:400px;"></div>


