@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Sanchez:400,400i|Ubuntu:300i,400,700');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('/assets/favicon.ico');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css');
/*
Fonts
font-family: 'Bungee Inline', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Sanchez', serif;
*/

/* Variables*/

$base-font-size: 16px;
$base-line-height: ($base-font-size * 2);
$spacing-unit: $base-line-height;

$brand-color-middark: #14213d;
$brand-color-mid: #fca311;
$brand-color-light: #ffffff;
$brand-color-dark: #000000;
$brand-color-midlight: #e5e5e5;

$base-font-color: $brand-color-dark;

/* Styling */

html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1 {
  font-family: 'Sanchez', serif;
  margin-top: $spacing-unit;
  margin-bottom:($spacing-unit / 2);
}

h2,
h3,
h4,
h5 {
  font-family: 'Sanchez', serif;
  margin: $spacing-unit;
}

th,{
  text-align: center;
}

.table-players {
  text-align: center;
}

.container-space {
  margin: $spacing-unit;
}

.container-space-no-top {
  margin-bottom: $spacing-unit;
}

.logo {
  font-family: 'Bungee Inline', cursive;
  font-size: 100px;
  color: $brand-color-dark;
  margin-bottom: $spacing-unit;
}

.teamlogo {
  border-radius: ($spacing-unit * 2);
  margin-right: ($spacing-unit * 1.5);
  width:110px;
  height:110px;
}

#welcomelogo {
  width: 400px;
  height: 450px;
}

.login {
  background-color: $brand-color-middark;
  border-color: $brand-color-middark;
  margin-bottom: ($spacing-unit * 2);
  margin-top: $spacing-unit;
}

.lead {
  margin-top:$base-line-height;
  color: $brand-color-dark;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color: $brand-color-midlight;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:$brand-color-midlight;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.needborder {
  border: 1px solid;
}

.goaliebtn {
  margin-top: $spacing-unit;
}

.team-selector  {
  margin-top: $spacing-unit;
}

.selectteamlist {
  margin: ($spacing-unit / 2);
}

.searchfield {
  margin-bottom: $spacing-unit;
}

.graph {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}

.spinner {
  margin-top: ($spacing-unit * 3);
}

.dropspace {
   padding: 5px;
   background-color: blue;
   width: 200px;
   height: 80px;
   border-radius: 5px;
   text-align: center;
   display: inline-block;
   margin: 0px 100px;

 }

 .dropspace #player-droppable_1 {
   float: left;

 }

 .dropspace #player-droppable_2 {
   float: right;
  }
