@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Sanchez:400,400i|Ubuntu:300i,400,700');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('/assets/favicon.ico');

/*
Fonts
font-family: 'Bungee Inline', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Sanchez', serif;
*/

/* Variables*/

$base-font-size: 16px;
$base-line-height: ($base-font-size * 2);
$spacing-unit: $base-line-height;

$brand-color-middark: #14213d;
$brand-color-mid: #fca311;
$brand-color-light: #ffffff;
$brand-color-dark: #000000;
$brand-color-midlight: #e5e5e5;

$base-font-color: $brand-color-dark;

/* Styling */

html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1 {
  font-family: 'Sanchez', serif;
  margin: $spacing-unit;
}

h2,
h3,
h4,
h5 {
  font-family: 'Sanchez', serif;
  margin: $spacing-unit;
}

.container-space {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.logo {
  font-family: 'Bungee Inline', cursive;
  font-size: 100px;
  color: $brand-color-dark;
  margin-bottom: $spacing-unit;
}

#welcomelogo {
  width: 400px;
  height: 450px;
}

#tinylogo {
  width: 40px;
  height: 40px;
  margin-top: -9px;
}

.login {
  background-color: $brand-color-middark;
  border-color: $brand-color-middark;
  margin-bottom: ($spacing-unit * 2);
  margin-top: $spacing-unit;
}

.lead {
  margin-top:$base-line-height;
  color: $brand-color-dark;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color: $brand-color-midlight;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:$brand-color-midlight;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

#nav-useravatar {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 10px;
}

#profilepic {
  width:100px;
  height:100px;
  margin-top: 20px;
}

.needborder {
  border: 1px solid;
}

.topfix {
  margin-top: ($spacing-unit * 1.7);
}

.topfix-welcome {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.goaliebtn {
  margin: $spacing-unit, 0;

}


.graph {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}

.divider {

}

.dropspace {
  padding: 5px;
  background-color: blue;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin: 0px 100px;

}

.dropspace #player-droppable_1 {
  float: left;

}

.dropspace #player-droppable_2 {
  float: right;
}









