@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Sanchez:400,400i|Ubuntu:300i,400,700');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('/assets/favicon.ico');

/* font-family: 'Bungee Inline', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Sanchez', serif; */


/* Variables*/

$base-font-size: 16px;
$base-line-height: ($base-font-size * 2);
$spacing-unit: $base-line-height;

$brand-color-middark: #14213d;
$brand-color-mid: #fca311;
$brand-color-light: #ffffff;
$brand-color-dark: #000000;
$brand-color-midlight: #e5e5e5;

$base-font-color: $brand-color-dark;

/* Styling */


html {
  font-family: 'Ubuntu', sans-serif;
}
body {
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

table {
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Sanchez', serif;
}

.container,
.container-fluid {
  font-family: 'Ubuntu', sans-serif;
}


.logo {
  font-family: 'Bungee Inline', cursive;
  font-size: 100px;
  color: $brand-color-dark;
}

#welcomelogo {
  width: 400px;
  height: 450px;
}

#tinylogo {
  width: 40px;
  height: 40px;
  margin-top: -9px;
}

.login {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.lead {
  color: $brand-color-dark;
  font-family: 'Ubuntu', sans-serif;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color: $brand-color-midlight;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:$brand-color-midlight;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

#nav-useravatar {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 10px;
}

#profilepic {
  width:100px;
  height:100px;
  margin-top: 20px;
}

.needborder {
  border: 1px solid;
}

.topfix {
  margin-top: 60px;
}

.goaliebtn {
  margin-top: 68px;
}
