// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

navbar navbar-inverse navbar-fixed-top {
  color: #E5E5E5;

}