  <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container-fluid">
                  <div class="navbar-header">
                  <a class="navbar-brand" href="#">
                  <img alt="Brand" src="http://i.imgur.com/bAbO1Yd.png" height="20" width="15">
                  </a>
                  <a class="navbar-brand" href="/">JockBuff</a></div>
                  <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav">
                          <li class="dropdown"> <!-- Drop Down start -->
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Leagues <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                          <!-- Needs loop to generates users leagues to apear in this drop down -->
                            <li><a href="#">League A</a></li>
                            <li><a href="#">League B</a></li>
                            <li><a href="#">League C</a></li>
                          </ul> <!-- Drop Down End -->
                      <li><a href="#">Player Ranks</a></li>
                      <li><a href="#">Trade Calculator</a></li>
                      <li><a href="#">Statistical Analysis</a></li>
                      </li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                      <li class="usernav"><a href='#'>Logged in as Current User</a></li>
                      </ul>


                  </div><!--/.nav-collapse -->
              </div>
          </div><!-- /.container -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body></html>

  <!--  Bootstrap drop down menu
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Leagues <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">League A</a></li>
      <li><a href="#">League B</a></li>
      <li><a href="#">League C</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">One more separated link</a></li>
    </ul> -->